.back-button {
  position: absolute;
  top: 50px;
  left: 50px;
  font-family: "Roboto-Medium";
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
}

.profile-container {
  display: flex;
  flex-direction: column;

  width: 700px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.connect-wallet-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.disconnect-wallet-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  color: #E2C488;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

